/* .button{
    height: fit-content;
    width: fit-content;
    background-color: #FFFFFF;
    color: #D3A738;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: .3s;
    cursor: pointer;
}

.button:hover {
    background-color: #D3A738;
    box-shadow: 0 0 0 5px #E1C47A;
    color: #FFFFFF;
} */

.button {
    height: fit-content;
    width: fit-content;
    background-color: #FFFFFF;
    color: #D3A738;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #D3A738;
    box-shadow: 0 0 0 5px #E1C47A;
    color: #FFFFFF;
  }