.navbar-main-container{
    height: 10vh;
}

/* .button{
    height: fit-content;
    width: fit-content;
    background-color: #FFFFFF;
    color: #D3A738;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 45px;
    transition: .3s;
}

.button:hover {
    background-color: #D3A738;
    box-shadow: 0 0 0 5px #E1C47A;
    color: #FFFFFF;
  } */

.navbar-title-container{
    height: 10vh;
}

.navbar-left, .navbar-mid, .navbar-right{
    flex: 1 1 0;
}